{{/* Link directly to documentation etc., if possible. */}}

<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
ASF Links</a>
<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
	
	<a class="dropdown-item" href="http://www.apache.org/foundation/how-it-works.html">How Apache Works</a>
	<a class="dropdown-item" href="http://www.apache.org/foundation/">Foundation</a>
	<a class="dropdown-item" href="http://www.apache.org/foundation/sponsorship.html">Sponsoring Apache</a>
	<a class="dropdown-item" href="http://www.apache.org/foundation/thanks.html">Thanks</a>
</div>