{{/* Link directly to documentation etc., if possible. */}}

<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
Documentation</a>
<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
	
	<a class="dropdown-item" href="https://cwiki.apache.org/confluence/display/BIGTOP">Wiki</a>
	<a class="dropdown-item" href="https://issues.apache.org/jira/browse/BIGTOP">Jira</a>
	<a class="dropdown-item" href="https://github.com/apache/bigtop">Github</a>
	<a class="dropdown-item" href="https://gitbox.apache.org/repos/asf/bigtop.git">Gitbox ASF</a>
	<a class="dropdown-item" href="http://blogs.apache.org/bigtop/">Blog</a>
	<a class="dropdown-item" href="http://blogs.apache.org/bigtop/">Mailing Lists</a>
	<a class="dropdown-item" href="http://blogs.apache.org/bigtop/">IRC Channel</a>
</div>